//@media (max-width: 1440px){
//  .banner,.nav,.content,.yingyong,.flex{
//    width: 100%;
//    min-width: 1200px;
//    padding: 0 40px;
//  }
//}
@media (max-width: 1440px){
  .new_banner{
    height: 375px!important;
    .bannerText{
      padding-top: 56px!important;
    }
  }
}
.Work_wrap{
  margin-top: 60px;
  .new_banner{
    height: 500px;
    .bannerText{
      width: 1200px;
      margin: 0 auto;
      padding-top: 102px;
      .bannerText_child{
        width: 1200px;
        margin: auto;
        //left: 291px;
        z-index: 999;
        text-align: left;
        .title{
          font-size: 44px;
          font-weight: bold;
          color: #ffffff;
        }
        .desc{
          color: #ffffff;
          font-size: 20px;
        }
        .btn{
          width: 160px;
          height: 45px;
          line-height: 45px;
          border: 1px solid #fff;
          margin-top: 40px;
          border-radius: 3px;
          font-size: 18px;
          text-align: center;
          color: #ffffff;
          font-weight: bold;
          cursor: pointer;
        }
        .btn:hover{
          background: #4f98ff;
          color: #ffffff;
          border: 1px solid #4f98ff;
        }
      }

    }
  }
  .center{
    .content{
      font-size: 36px;
      font-weight: bold;
      padding: 134px 0;
      text-align: center;
    }
  }
}