@media (max-width: 1440px){
  .nav,.content{
    width: 100%;
    min-width: 1200px;
    padding: 0 40px;
  }
}
.About_wrap{
  .banners{
    text-align: center;
    padding-top: 66px;
    margin-top: 60px;
    h3{
      font-size: 50px;
      font-weight: bold;
      color: #ffffff;
    }
    .text{
      font-size: 20px;
      color: #ffffff;
    }
  }
  .center{
    .nav_wrap{
      border-bottom: 1px solid #e2e3e5;
      box-shadow: 0px 1px 0px 0px rgba(228, 228, 228, 1);
      z-index: 9999;
      .nav{
        width: 1200px;
        margin: auto;
        display: flex;
        p{
          margin: 0;
          padding: 0;
          //transition: all 0.4s ease-in-out;
        }
        .tab{
          width: 220px;
          font-size: 16px;
          color: #333333;
          cursor: pointer;
          text-align: center;
          padding: 18px 0;
        }
        .active{
          width: 220px;
          font-size: 16px;
          cursor: pointer;
          padding: 18px 0;
          border-bottom: 3px solid #b31e23;
          box-sizing: border-box;
          color: #b31e23;
          text-align: center;
        }
      }
    }
    .content{
      width: 1200px;
      margin: auto;
      .shadow{
        margin: 110px 0;
        .title{
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          color: #2f3342;
          margin-bottom:75px;
        }
        .article{
          display: flex;
          .lText{
            width: 60%;
            font-size: 16px;
            color: #626675;
          }
          .rImg{
            width: 420px;
            height: 464px;
            margin-left: 80px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .imgs_wrap{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .img_box{
            width: 384px;
            height: 252px;
            border: 1px solid #eeeeee;
            margin-bottom: 90px;
            .img{
              width: 100%;
              height: 100%;
            }
          }
          .img_box_h{
            width: 384px;
            height: 372px;
            border: 1px solid #eeeeee;
            margin-bottom: 90px;
            .img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .location_wrap{
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
          .location{
            height: 410px;
            background: #cccccc;
            .boxshow{
              width: 470px;
              height: 270px;
              background: #ffffff;
              box-shadow: 0px 2px 16px 0px rgba(21, 54, 83, 0.2);
              float: right;
              margin: 70px 42px 70px 0;
              padding: 24px;
              .companyName{
                font-size: 22px;
                font-weight: bold;
                color: #2f3342;
                padding-bottom:18px;
                border-bottom:1px solid #eeeeee;
              }
              .row{
                font-size: 16px;
                color: #626775;
                margin-top: 20px;
                i{
                  margin-right: 21px;
                }
              }
            }
          }
          .contact{
            background: #fff;
            display: flex;
            justify-content: space-around;
            .item{
              display: flex;
              align-items: center;
              padding: 30px 0;
              .imgs{
                width: 60px;
                height: 60px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .rText{
                margin-left: 20px;
                .name{
                  font-size: 20px;
                  font-weight: bold;
                  color: #2f3342;
                }
                .phone{
                  font-size: 16px;
                  color: #626775;
                }
              }
            }
          }
        }
      }
      .recruit{
        margin: 110px 0;
        .title_wrap{
          text-align: center;
          margin-bottom: 75px;
          .title{
            font-size: 40px;
            font-weight: bold;
            color: #2f3342;
            margin: 0;
          }
          .text{
            font-size: 14px;
            color: #626775;
          }
        }
        .content_wrap{
          .tabs{
            display: flex;
            justify-content: center;
            cursor: pointer;
            .tab{
              width: 196px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              color: #333333;
              font-size: 16px;
            }
            .active{
              width: 196px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              font-size: 16px;
              color: #b31e23;
              border-bottom: 1px solid #b31e23;
            }
          }
          .boxCont{
            width: 100%;
            padding: 30px;
            background: #fafafc;
            border: 1px solid #f1f1f1;
            display: flex;
            justify-content: space-between;
            .lCont{
              width: 45%;
              .title{
                font-size: 20px;
                font-weight: bold;
                color: #2f3342;
                span{
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: #b31e23;
                  margin-right: 10px;
                }
              }
              .desc{
                p{
                  font-size: 16px;
                  color: #626775;
                  white-space: pre-line;
                  line-height: 2;
                }
              }
            }
            .rCont{
              width: 49%;
              margin-left: 90px;
              .title{
                font-size: 20px;
                font-weight: bold;
                color: #2f3342;
                span{
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: #b31e23;
                  margin-right: 10px;
                }
              }
              .desc{
                p{
                  font-size: 16px;
                  color: #626775;
                  white-space: pre-line;
                  line-height: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}