html{
  //overflow-y: hidden;
}
//html::-webkit-scrollbar {
//  width: 0;
//  height: 0;
//}
//*::-webkit-scrollbar {
//  width: 0;
//  height: 0;
//}
@media (max-width: 1440px){
  .homer_wrap{
    .center{
      .swiper-container-child{
        .swiper-slide-child{
          .boxCont{
            width: 100%;
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
          }
        }
      }
      .swiper-container{
        .swiper-slide{
          .boxContent{
            width: 100%;
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
          }
          .contSix .footerBar .box-wrap{
            width: 100%;
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.homer_wrap{
  //margin-top: 60px;
  overflow-y: hidden;
  position: relative;
  top: 60px;
  .center{
    .swiper-container{
      .swiper-slide{
        overflow: hidden;
        .boxContent{
          width: 1400px;
          margin: auto;
          .boxFlex{
            display: flex;
            justify-content: space-between;
            .leftBox{
              .box{
                margin-top: 90px;
                .name{
                  font-size: 30px;
                  color: #2f3342;
                  font-weight: bold;
                  padding-bottom: 18px;
                }
                p{
                  font-size: 16px;
                  color: #626775;
                }
              }
            }
            .rightBox{
              width: 300px;
              height: 300px;
              background: skyblue;
              margin-top: 90px;
            }
          }
          // 满足更多的办公场景
          .head_title{
            text-align: center;
            margin-top: 119px;
            padding-bottom: 90px;
            .title{
              font-size: 40px;
              color: #2f3342;
              font-weight: bold;
              margin: 0;
            }
            .text{
              font-size: 18px;
              color: #626775;
              margin-top: 5px!important;
            }
          }
          .box_block{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .box:hover{
              background: #fff;
              box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
              transition: 1s;
            }
            .box{
              width: 352px;
              display: flex;
              align-items: center;
              margin-bottom: 100px;
              padding: 22px 26px;
              .icon{
                width: 38px;
                height: 38px;
                img{
                  width: 100%;
                  height: 100%;
                  vertical-align: middle;
                }
              }
              .info_text{
                margin-left: 46px;
                .name_title{
                  font-size: 20px;
                  color: #2f3342;
                  font-weight: bold;
                }
                .desc{
                  font-size: 14px;
                  color:#2f3342;
                }
              }
            }
          }
          // 提供更全面的专家级服务支持
          .head_title_color{
            .title,.text{
              color: #fff;
            }
            .text{
              font-size: 18px;
            }
          }
          .cont_Box{
            //padding: 70px 120px;
            ul{
              display: flex;
              .lis:hover{
                transition: all 500ms ease-in;
                margin-top: -20px;
              }
              .lis{
                flex: 1;
                height: 420px;
                background: #fff;
                margin-right: 10px;
                padding-bottom: 10px;
                .imgTop{
                  width: 100%;
                  //height: 170px;
                  img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                  }
                }
                .cont_text{
                  padding: 0 20px;
                  .title{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: #2f3342;
                    padding: 10px 0;
                  }
                  .text{
                    color: #626775;
                    font-size: 14px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .banner_box{
            position: relative;
            margin:0;
            .cont{
              display: flex;
              justify-content: center;
              .box:hover .img,{
                display: none;
              }
              .box:hover .caseCont .divs{
                display: block;
              }
              .box{
                width: 350px;
                //height: 315px;
                background: #fff;
                margin-right: 10px;
                border: 1px solid #dbdbdb;
                .img{
                  width: 100%;
                  height: 165px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .caseCont{
                  padding: 17px;
                  .imgs{
                    width: 152px;
                    height: 36px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .textRow{
                    padding: 17px 0;
                  }
                  .text{
                    font-size: 14px;
                    color: #626775;
                    font-weight: bold;
                  }

                  .title_{
                    font-size: 20px;
                    font-weight: bold;
                    color: #474e5f;
                  }
                  .divs{
                    display: none;
                    .show{
                      padding: 20px 0;
                      border-bottom: 1px solid #dbdbdb;
                    }
                    .text{
                      font-size: 14px;
                      color: #626775;
                      font-weight: bold;
                    }
                    .signRed{
                      display: flex;
                      justify-content: space-between;
                      color: #b31e23;
                      font-size: 16px;
                      font-weight: bold;
                      padding: 17px 0;
                    }
                  }
                }
              }
            }
            .leftIcon{
              position: absolute;
              top: 40%;
              cursor: pointer;
              z-index: 999;
              img{
                transform: rotate(180deg);
              }
            }
            .rightIcon{
              position: absolute;
              top: 40%;
              right: 0;
              cursor: pointer;
              z-index: 999;
            }
          }
          .advertPlate{
            width: 1080px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 20px;
            .plate:hover{
              background: #fff;
              box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
            }
            .plate{
              width: 210px;
              height: 100px;
              background: #fff;
              //margin-right: 22px;
              margin-top: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #e5e5e5;
              box-sizing: border-box;
            }
          }
        }
        .contSix{
          width: 100%;
          position: absolute;
          bottom: 60px;
          .apply{
            height: 234px;
            background: #b31e23;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            .btn{
              width: 180px;
              height: 56px;
              line-height: 56px;
              text-align: center;
              background: #fff;
              color: #b31e23;
              margin-left: 20px;
              font-size: 20px;
              cursor: pointer;
            }
          }
          .footerBar{
            background: #000000;
            color: #fff;
            padding: 54px 0;
            .box-wrap{
              width: 1400px;
              margin: 0 auto;
              display: flex;
              //justify-content: space-between;
              .lBox{
                width: 60%;
                display: flex;
                border-right: 2px solid #505050;
                .column{
                  width: 25%;
                  .title{
                    font-size: 16px;
                    color: #fff;
                    padding-bottom: 10px;
                  }
                  .text{
                    font-size: 14px;
                    color: #999999;
                    line-height: 36px;
                  }
                }
              }
              .rBox{
                width: 40%;
                display: flex;
                justify-content: space-between;
                margin-left: 60px;
                .column{
                  width: 200px;
                  .title{
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 10px;
                  }
                  .text{
                    font-size: 14px;
                    color: #999999;
                    line-height: 36px;
                  }
                }
                .qrCode_wrap{
                  width: 130px;
                  .row{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 17px;
                    p{
                      width: 30px;
                      height: 30px;
                      img{
                        width: 100%;
                        height: 100%;
                        margin-right: 20px;
                      }
                    }
                  }
                  .qrCode{
                    width: 100%;
                    height: 130px;
                    background: #fff;
                    position: relative;
                    top: 0;
                    left: 0;
                    //visibility: hidden;
                    transition: all 0.4s ease-in-out;
                    background: #fff;
                    .qr-img::before{
                      content:'';
                      position: absolute;
                      top: -15px;
                      width: 0;
                      height: 0;
                      border-top: 0;
                      border: 7px solid transparent;
                      border-bottom: 8px solid #fff;
                      left: 8px;
                    }
                  }
                }
              }
            }
          }
          .textUrl{
            background: #111111;
            font-size: 12px;
            color: #999999;
            text-align: center;
            padding:20px 0;
            p{
              line-height: 31px;
            }
          }
        }
      }
    }
    .swiper-container-child{
      .swiper-slide-child{
          position: relative;
          .boxCont{
            width: 1400px;
            position: absolute;
            top:142px;
            left: 0;
            right: 0;
            margin: auto;
            display: flex;
            justify-content: space-between;
            z-index: 9999;
            text-align: left;
            .cont{
              .title{
                font-size: 40px;
                font-weight: bold;
              }
              .animate__bounceInDown.active{
                --animate-duration: 2s;
              }
              .box{
                margin-top: 20px;
                font-size: 20px;
                color: #fff;
              }
              .btn{
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: #b31e23;
                font-size: 16px;
                color: #fff;
                border-radius: 4px;
                margin-top: 46px;
                cursor: pointer;
              }
            }
            .imgs{
              width: 660px;
              height: 403px;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
              }
            }
          }
      }
      .swiper-pagination1{
        z-index: 9999;
        position: absolute;
        bottom: 10%;
        .swiper-pagination-bullet{
          width: 56px;
          height: 3px;
          border-radius: 0;
          background: #999999;
          cursor:pointer;
        }
      }
    }

  }
}