@media (max-width: 1440px){
  .contents{
    width: 100%;
    min-width: 1320px;
    padding: 0 40px;
  }
}
.ant-pagination-item-active{
  background: #b31e23;
  border: none!important;
  font-size: 16px;
  font-weight: bold;
}
.ant-pagination-item:hover{
  border-color: #e5e5e5!important;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
  color: #ffffff!important;
}
.wrap{
  .center{
    border-bottom: 1px solid #e5e5e5;
    .banners{
      text-align: center;
      padding-top: 155px;
      h3{
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
      }
      .text{
        font-size: 20px;
        color: #ffffff;
      }
    }
    .contents{
      width: 1320px;
      padding: 100px 0;
      margin: auto;
      background: #fff;
      .case_wrap{
        .dividerWrap{
          display: flex;
          justify-content: center;
          .divider{
            display: flex;
            .l,.r{
              display: flex;
              align-items: center;
              .line{
                width: 200px;
                height: 2px;
                display: inline-block;
                background: #c7c6c6;
              }
              .dian{
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #c7c6c6;
                display: inline-block;
              }
            }
            .title{
              font-size: 36px;
              font-weight: bold;
              color:#333333;
              padding: 0 20px;
            }
          }
        }
        .customerWrap::after {
            content: "";
            width: 350px;
        }
        .customerWrap{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px 0;
          .box_box:hover{
            box-shadow: 0px 2px 34px 0px rgba(21, 54, 83, 0.1);
            transition: all 1ms ease-in;
          }
          
          .box_box{
            //width: 29%;
            width: 350px;
            // margin: 50px;
            //height: 315px;
            background: #fff;
            //margin-right: 76px;
            margin-top: 50px;
            border: 1px solid #dbdbdb;
            cursor: pointer;
            box-sizing: border-box;
            .img{
              width: 100%;
              height: 165px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .cont_wrap{
              padding: 16px;
              .desc{
                font-size: 16px;
                color: #2f3342;
                padding-bottom: 26px;
              }
              .row{
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                color: #626775;
              }
            }
          }
        }
      }
    }
  }
}