//@media (max-width: 1440px){
//  .banners .title{
//    margin-right: 40px!important;
//  }
//  .banners .text{
//    margin-right: 60px!important;
//  }
//  .content{
//    width: 100%;
//    min-width: 1320px;
//    padding: 0 40px;
//  }
//}
.product_wrap{
  width: 100%;
  height: 100%;
  margin-top: 60px;
  .banners{
    text-align: right;
    padding-top: 155px;
    h3{
      margin: 0;
    }
    .title{
      font-size: 50px;
      color: #009fff;
      font-weight: bold;
      margin-right: 260px;
    }
    .text{
      font-size: 20px;
      color: #626775;
      margin-right: 280px;
      margin-top: 20px;
    }
  }
  .content{
    width: 1200px;
    margin: auto;
    .product{
      margin: 110px 0;
      .title{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #2f3342;
        margin-bottom:75px;
      }
      .box_wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .box{
          width: 390px;
          height: 307px;
          background: #f6f6f9;
          margin-top: 50px;
          padding: 0 31px 26px 31px;
          cursor: pointer;
          .imgs{
            width: 92px;
            height: 100px;
            margin: 10px auto;
            img{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
          .name{
            font-size: 20px;
            font-weight: bold;
            color: #2f3342;
            text-align: center;
            padding: 15px 0;
          }
          .cont_text{
            font-size: 16px;
            color: #626775;
          }
        }
        .box:hover{
          margin-top: -10px;
          box-shadow: 0px 2px 34px 0px rgba(21, 54, 83, 0.1);
          transition: all 1ms ease-in;
        }
      }
    }
  }
}