.posBox{
  //position: absolute;
  position: fixed;
  right: 0;
  bottom: 20%;
  z-index: 999;
  .boxActive:hover .text{
    width: 180px;
    transition:all 1s ease;
    margin: 0;
    border-left: 1px solid #fff;
    //display: block;
  }
  .boxActive:hover .qrCode{
    display: block;
  }
  .boxActive{
    margin-top: 2px;
    //overflow: hidden;
    float: right;
    clear: both;
    position: relative;
    .qrCode{
      width: 120px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: -123px;
      display: none;
      border-radius: 8px;
      box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.2);
      padding: 10px 0;
      .box_position{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background: #333333;
        img{
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
      .box_text{
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
      }
    }
    .box{
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #b31e23;
      //margin-top: 2px;
      cursor: pointer;
      float: right;
      i{
        font-size: 20px;
        color: #fff;
      }
    }
    .text{
      //width: 180px;
      width: 0;
      line-height: 50px;
      text-align: center;
      padding: 0 20px;
      box-sizing: border-box;
      background: #b31e23;
      color: #fff;
      font-size: 18px;
      font-weight: bold;

      float: right;
      white-space: nowrap;
      margin-right: -40px;
    }
  }

}