//@media (max-width: 1440px){
//  .header{
//    max-width: 1200px;
//    width: 100%;
//    margin: 0 auto;
//    padding: 0 40px;
//    background: #fff;
//  }
//}
.spans:hover{
  color: #009fff;
}
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header_wrap{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    .container{
      background: #f6f6f9;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
      .header{
        max-width: 1200px;
        margin: auto;
        height: 60px;
        background: #f6f6f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .l{
          width: 128px;
          p{
            width: 128px;
            height: 44px;
            img{
              width: 100%;
              height: 100%;
              vertical-align: middle;
            }
          }
        }
        .c{
          width: 60%;
          ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            li{
              //width: 102px;
              height: 24px;
              text-align: center;
              font-size: 16px;
              color: #333333;
              cursor: pointer;
            }
            li.active{
              color: #009fff;
            }
            li:hover{
              color: #009fff;
            }
          }
        }
        .r{
          display: flex;
          align-items: center;
          .textBox{
            margin-left: 10px;
            .text{
              font-size: 12px;
            }
            .phone{
              font-size: 16px;
              color: #333333;
              font-weight: bold;
            }
          }
          .btn{
            width: 84px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            background: #4f98ff;
            font-size: 16px;
            font-weight: bold;
            color: white;
            border-radius: 3px;
            margin-left: 20px;
            cursor: pointer;
          }
          .login{
            width: 90px;
            font-size: 16px;
            color: #2f3344;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
          }
          .register{
            width: 90px;
            height: 40px;
            color: #fff;
            line-height: 40px;
            text-align: center;
            background: #b31e23;
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }

  }
  .popup{
    width: 100%;
    height: auto;
    background: #fff;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    .box-wrap{
      padding: 30px 180px;
      display: flex;
      .column{
        width: 150px;
        h3{
          font-size: 16px;
          color: #b31e23;
          font-weight: bold;
        }
        .block{
          margin-top: 21px;
          font-size: 15px;
          color: #626775;
          p:first-child{
            margin: 0;
          }
          p:hover{
            color: #b31e23;
          }
          p{
            margin-top: 15px;
          }
        }
      }
    }
  }
}