*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  list-style: none;
}
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header{
    height: 83px;
    background: #e2e3e5;
    display: flex;
    align-items: center;
    padding: 0 40px;
    .l{
      width: 10%;
      p{
        width: 128px;
        height: 44px;
        img{
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
    .c{
      flex: 1;
      ul{
        display: flex;
        align-items: center;
        li{
          width: 102px;
          height: 24px;
          text-align: center;
          font-size: 16px;
          color: #333333;
          cursor: pointer;
        }
        li:hover{
          color: #b31e23;
        }
      }
    }
    .r{
      width: 10%;
      display: flex;
      align-items: center;
      .login{
        width: 90px;
        font-size: 16px;
        color: #2f3344;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }
      .register{
        width: 90px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background: #b31e23;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}