*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
p{
  margin-bottom: 0 ;
}
li{
  list-style: none;
}
@media screen and (max-width: 990px) {
  .header {
    display: none!important;
  }
}
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header_wrap{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    .header{
      height: 83px;
      background: #fff;
      display: flex;
      align-items: center;
      padding: 0 40px;

      .l{
        width: 10%;
        p{
          width: 128px;
          height: 44px;
          img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
      }
      .c{
        flex: 1;
        ul{
          display: flex;
          align-items: center;
          li{
            width: 102px;
            height: 24px;
            text-align: center;
            font-size: 16px;
            color: #333333;
            cursor: pointer;
          }
          li:hover{
            color: #b31e23;
          }
        }
      }
      .r{
        width: 10%;
        display: flex;
        align-items: center;
        .login{
          width: 90px;
          font-size: 16px;
          color: #2f3344;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
        }
        .register{
          width: 90px;
          height: 40px;
          color: #fff;
          line-height: 40px;
          text-align: center;
          background: #b31e23;
          border-radius: 4px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }


  .center{
    margin-top: 83px;
    .banner{
      position: relative;
      .rotation{
        img{
          width: 100%;
          //height: 100%;
        }
      }
      .posBox{
        position: absolute;
        bottom: 100px;
        right: 0;
        cursor:pointer;
        .row{
          width: 220px;
          height: 50px;
          background: #b31e23;
          display: flex;
          align-items: center;
          .icon{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-right: 1px solid #fff;
            i{
              font-size: 20px;
              color: #fff;
            }
          }
          .phone{
             flex: 1;
             text-align: center;
             color: #fff;
            font-size: 18px;
            font-weight: bold;
           }

        }
        .qrCode{
          width: 50px;
          height: 50px;
          line-height: 50px;
          background: #b31e23;
          margin-top: 2px;
          text-align: center;
          color: #fff;
          margin-left: auto;
          i{
            font-size: 20px;
          }
        }
      }
    }
    .tips{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 120px;
      background: #fff;
      p{
        font-size: 14px;
        color: #474e5f;
        padding: 15px 0;
        cursor: pointer;
        span{
          margin-left: 80px;
        }

      }
    }
    .contents{
      width: 100%;
      .box_wrap{
        height: auto;
        background: #f8faff;
        padding-top: 50px;
        .title{
          text-align: center;
        }
        .max{
          font-size: 36px;
          color: #2f3342;
        }
        .min{
          font-size: 18px;
          color: #626775;
          margin-top: 19px;
        }
        .cont_wrap{
          padding: 50px 120px;
          display: flex;
          .item{
            flex: 1;
          }
          .left{
            //.box:hover{
            //  background: #fff;
            //  transition: all 500ms ease-in;
            //  box-shadow: 0 2px 34px rgba(97, 113, 154, 0.1);
            //}
            .box.boxHover{
              background: #fff;
              transition: all 500ms ease-in;
              box-shadow: 0 2px 34px rgba(97, 113, 154, 0.1);
            }
            .box{
              width:100%;
              display: flex;
              padding: 30px;
              background: #f8faff;
              .radius{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #ebf6ff;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 24px;
                  height: 24px;
                  vertical-align: middle;
                }
              }
              .list{
                margin-left: 40px;
                p{
                  font-size: 15px;
                  color: #474e5f;
                }
                .name{
                  font-size: 20px;
                  color: #2f3342;
                  padding-bottom: 14px;
                  font-weight: bold;
                }
              }
            }
          }
          .cen{
            padding: 40px 0;
            display: flex;
            justify-content: center;
            .img_box{
              img{
                height: 448px;
              }
            }
          }
        }
      }
      .module_wrap{
        background: #fff;
        position: relative;
        .posBox{
          //position: absolute;
          position: fixed;
          right: 0;
          bottom: 100px;
          .box{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #b31e23;
            margin-top: 2px;
            cursor: pointer;
            i{
              font-size: 20px;
              color: #fff;
            }
          }
        }
        .module{
          padding: 50px 120px;
          display: flex;
          flex-wrap: wrap;
          .box{
            width: 15%;
            height: auto;
            //background: #fff;
            margin: 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            .boxRadius{
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
              img{
                width: 38px;
                height: 38px;
                vertical-align: middle;
              }
            }
            .name{
              font-size: 18px;
              color: #2f3342;
              font-weight: bold;
              margin-top: 20px;
            }
          }
        }
      }
      .back_wrap{
        .title{
          color: #fff;
        }
        .contBox{
          padding: 70px 120px;
          ul{
            display: flex;
            .lis:hover{
              transition: all 500ms ease-in;
              margin-top: -20px;
            }
            .lis{
              flex: 1;
              height: 420px;
              background: #fff;
              margin-right: 10px;
              padding-bottom: 10px;
              .imgTop{
                width: 100%;
                //height: 170px;
                img{
                  width: 100%;
                  height: 100%;
                  vertical-align: middle;
                }
              }
              .cont_text{
                padding: 0 20px;
                .title{
                  text-align: center;
                  font-size: 20px;
                  font-weight: bold;
                  color: #333;
                  padding: 10px 0;
                }
                .text{
                  color: #626775;
                  font-size: 14px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .ban_wrap{
        .banner_box{
          padding: 50px 120px;
          display: flex;
          //align-items: center;
          .icon_left,.icon_right{
            width: 30px;
            height: 30px;
            cursor: pointer;
            //background: red;
            margin-top: 200px;
            i{
              width: 100%;
              height: auto;
              img{
                width: 100%;
                height: auto;
              }
              font-size: 30px;
            }
          }
          .icon_left{
            margin-right: 20px;
          }
          .icon_right{
            margin-left: 10px;
          }
          .banner{
            width: 90%;
            margin: auto;
            .cont{
              display: flex;
              .box:hover .img,{
                display: none;
              }
              .box:hover .caseCont .divs{
                display: block;
              }
              .box{
                width: 33.3%;
                //height: 315px;
                background: #fff;
                margin-right: 10px;
                border: 1px solid #dbdbdb;
                .img{
                  width: 100%;
                  //height: 165px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .caseCont{
                  padding: 17px;
                  .imgs{
                    width: 152px;
                    height: 36px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .textRow{
                    padding: 17px 0;
                  }
                  .text{
                    font-size: 14px;
                    color: #626775;
                    font-weight: bold;
                  }

                  .title_{
                    font-size: 20px;
                    font-weight: bold;
                    color: #474e5f;
                  }
                  .divs{
                    display: none;
                    .show{
                      padding: 20px 0;
                      border-bottom: 1px solid #dbdbdb;
                    }
                    .text{
                      font-size: 14px;
                      color: #626775;
                      font-weight: bold;
                    }
                    .signRed{
                      display: flex;
                      justify-content: space-between;
                      color: #b31e23;
                      font-size: 16px;
                      font-weight: bold;
                      padding: 17px 0;
                    }
                  }
                }
              }
            }
            .advertPlate{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              padding-top: 30px;
              .plate:hover{
                background: #fff;
                box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
              }
              .plate{
                width: 13%;
                height: 70px;
                //background: #fff;
                //margin-right: 22px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              //.plate:nth-child(7),.plate:nth-child(14),.plate:nth-child(21){
              //  margin-right: 0;
              //}

            }
          }
        }

      }
    }
  }
  .bottom_wrap{
    //padding: 50px 120px;
    padding: 50px 0;
    background: #fff;
    display: flex;
    justify-content:space-around;
    .item{
      .title{
        font-size: 20px;
        color: #474e5f;
        font-weight: bold;
      }
      .text:hover{
        color: #b31e23;
      }
      .text{
        font-size: 15px;
        color: #626775;
        font-weight: bold;
        margin-top: 10px;
        cursor:pointer;
      }
    }
    .qrCode{
      text-align: center;
      .imgs{
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background: #f5f5f5;
        font-size: 14px;
        color: #505050;
      }
      .text{
        color: #626775;
      }
    }
  }
  .footer{
    background: #f0f0f0;
    font-size: 12px;
    color: #8d8f93;
    padding: 20px 0;
    text-align: center;
  }
}