*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
p{
  margin-bottom: 0 ;
}
li{
  list-style: none;
}
//@media screen and (max-width: 1440px) {
//  .header {
//    //display: none!important;
//  }
//  .home_content,.contents .box_wrap{
//    width: 100%;
//    min-width: 1320px;
//    padding: 0 40px;
//  }
//  .service_wrap .back .cont_text{
//    width: 100%;
//    min-width: 1320px;
//    padding: 0 40px;
//  }
//  .banner .swiper-container .bannerText{
//    left: 40px!important;
//  }
//}
@media screen and (max-width: 1440px) {
  .swiper-container{
    height: 450px !important;
  }
}
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .center{
    //margin-top: 83px;
    .banner{
      position: relative;
      .swiper-container{
        height: 600px;
        position: relative;
        .bannerText{
          width: 100%;
          position: absolute;
          top: 102px;
          z-index:999;
          .bannerText_child{
            width: 1200px;
            margin: auto;
            //left: 291px;
            z-index: 999;
            text-align: left;
            .title{
              font-size: 44px;
              font-weight: bold;
              color: #ffffff;
            }
            .desc{
              font-size: 20px;
            }
            .btn{
              width: 160px;
              height: 45px;
              line-height: 45px;
              border: 1px solid #fff;
              margin-top: 40px;
              border-radius: 3px;
              font-size: 18px;
              text-align: center;
              font-weight: bold;
              cursor: pointer;
            }
            .btn:hover{
              background: #4f98ff;
              color: #ffffff;
              border: 1px solid #4f98ff;
            }
          }

        }
        .swiper-button-prev{
          left: 10%;
          width: 29px;
          height: 60px;
          background: rgba(0,0,0,.2);
          display: flex;
          justify-content: center;
          i{
            display: block;
            line-height: 60px;
            font-size: 30px;
          }
        }
        .swiper-button-next{
          right: 10%;
          width: 29px;
          height: 60px;
          background: rgba(0,0,0,.2);
          display: flex;
          justify-content: center;
          i{
            display: block;
            line-height: 60px;
            font-size: 30px;
          }
        }
      }
      .swiper-pagination{
        .swiper-pagination-bullet{
          width: 56px;
          height: 3px;
          border-radius: 0;
          background: #fff;
          cursor:pointer;
        }
      }
      .copywriting{
        width: 25%;
        position: absolute;
        top: 91px;
        left: 13%;
        z-index: 999;
        h1{
          font-size: 60px;
          color: #fff;
          font-weight: bold;
        }
        h3{
          font-size: 34px;
          color: #fff;
          font-weight: bold;
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
        }
        .text{
          font-size: 20px;
          color: #fff;
        }
        .btn-wrap{
          display: flex;
          margin-top: 58px;
          p{
            width: 120px;
            height: 42px;
            line-height: 42px;
            font-size: 17px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
          }
          p:nth-child(1){
            color: #fff;
            background: #b31e23;
            margin-right: 20px;
          }
          p:nth-child(2){
            color: rgba(179, 30, 35, 1);
            border: 1px solid #b31e23;
          }
        }
      }
      .rotation{
        img{
          width: 100%;
          //height: 100%;
        }
      }
      .posBox{
        position: absolute;
        bottom: 100px;
        right: 0;
        cursor:pointer;
        z-index: 999;
        .row{
          width: 220px;
          height: 50px;
          background: #b31e23;
          display: flex;
          align-items: center;
          .icon{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-right: 1px solid #fff;
            i{
              font-size: 20px;
              color: #fff;
            }
          }
          .phone{
             flex: 1;
             text-align: center;
             color: #fff;
            font-size: 18px;
            font-weight: bold;
           }

        }
        .qrCode{
          width: 50px;
          height: 50px;
          line-height: 50px;
          background: #b31e23;
          margin-top: 2px;
          text-align: center;
          color: #fff;
          margin-left: auto;
          i{
            font-size: 20px;
          }
        }
      }
    }
    .home_content{
      width: 1200px;
      margin: auto;
      .tab_wrap{
        .tabs{
          display: flex;
          .tab{
            flex: 1;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 16px 0;
            color: #2f3342;
            cursor: pointer;
            border-bottom: 5px solid #f2f2f2;
          }
          .tab.active{
            transition: all 500ms;
            color: #009fff;
            border-bottom: 5px solid #009fff;
          }
        }
        .uls{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li{
            // width: 50%;
            font-size: 18px;
            color: #2f3342;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-top: 10px;
            .dian{
              width: 6px;
              height: 6px;
              background: #2f3342;
              border-radius: 50%;
              display: inline-block;
              margin-right: 8px;
            }
          }
          li:hover{
            color: #4f98ff;
            .dian{
              background: #4f98ff;
            }
          }
        }
      }
    }
    .myService{
      width: 1200px;
      margin: 50px auto;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      .leftCont{
        width: 480px;
        h3{
          margin: 0;
        }
        .title{
          font-size: 40px;
          color: #2f3342;
          font-weight: bold;
        }
        p{
          margin: 0;
        }
        .service_desc{
          font-size: 18px;
          color: #626775;
          margin-top: 11px;
        }
        .service_content{
          margin-top: 31px;
          .paragraph{
            padding-bottom: 10px;
            font-size: 16px;
            color: #626775;
          }
          p{
            color: #626775;
            font-size: 16px;
          }
        }
        .apply{
          width: 148px;
          height: 48px;
          line-height: 48px;
          border: 1px solid #2f3342;
          text-align: center;
          color: #2f3342;
          font-size: 18px;
          margin-top: 39px;
          box-shadow: rgba(47, 51, 66, 1) solid 1px;
          cursor: pointer;
        }
        .apply:hover{
          border: 1px solid #4f98ff;
          color: #4f98ff;
        }
      }
    }
    .myAdvantage{
      background: #f8faff;
      //padding-top: 50px;
    }
    .service_wrap{
      margin-top: 62px;
      h3{
        margin: 0;
      }
      .service_title{
        font-size: 40px;
        font-weight: bold;
        color: #2f3342;
        text-align: center;
      }
      .service_desc{
        font-size: 18px;
        color: #626775;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          width: 5px;
          height: 5px;
          border-radius: 50%;
          display: inline-block;
          background: #626775;
          margin: 0 5px;
        }
      }
      .back{
        padding-top: 50px;
        width: 1200px;
        margin: 0 auto;
        .cont_text{
          width: 1200px;
          margin: 0 auto;
          .name{
            font-size: 20px;
            font-weight: bold;
            color: #2f3342;
            //margin-top: 80px;
          }
          .text_width{
            width: 480px;
            .cont{
              font-size: 16px;
              color: #626775;
              margin: 16px 0;
            }

          }
        }
        .advantage{
          width: 1200px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          padding-top: 124px;
          .boxs{
            width: 240px;
            height: 200px;
            padding: 0 30px;
            .imgs{
              width: 94px;
              height: 82px;
              //background: #ccc;
              margin: 0 auto;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .cont_copywriting{
              text-align: center;
              .title{
                font-size: 20px;
                font-weight: bold;
                color: #2f3342;
                margin-top: 50px;
              }
              .text{
                font-size: 15px;
                color: #474e5f;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    .product_Wrap{
      //width: 1320px;
      margin: 62px auto;
      h3{
        margin: 0;
      }
      .row_title{
        font-size: 40px;
        font-weight: bold;
        color: #2f3342;
        text-align: center;
      }
      .row_desc{
        font-size: 18px;
        color: #626775;
        text-align: center;
      }
      .row_box_wrap{
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .child_box:hover{
          cursor:pointer;
          box-shadow: 0px 5px 20px 0px rgba(47, 51, 66, 0.1);
        }
        .child_box{
          width: 600px;
          padding: 43px 30px;
          height: auto;
          display: flex;
          .radius{
            width: 60px;
            height: 60px;
            //border-radius: 50%;
            //background: #009fff;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .right_cont{
            margin-left: 50px;
            .title{
              font-size: 20px;
              font-weight: bold;
              color: #2f3342;
            }
            .text{
              width: 430px;
              font-size: 15px;
              color: #474e5f;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .tips{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 120px;
      background: #fff;
      p{
        font-size: 14px;
        color: #474e5f;
        padding: 15px 0;
        cursor: pointer;
        span{
          margin-left: 80px;
        }

      }
    }
    .contents{
      width: 100%;
      .box_wrap{
        width: 1200px;
        margin: 0 auto;
        .title{
          text-align: center;
        }
        .max{
          font-size: 40px;
          font-weight: bold;
          color: #2f3342;
        }
        .min{
          font-size: 18px;
          color: #626775;
          margin-top: 19px;
          padding-bottom: 60px;
        }
        .cont_wrap{
          padding: 50px 120px;
          display: flex;
          .item{
            flex: 1;
          }
          .left{
            //.box:hover{
            //  background: #fff;
            //  transition: all 500ms ease-in;
            //  box-shadow: 0 2px 34px rgba(97, 113, 154, 0.1);
            //}
            .box.boxHover{
              background: #fff;
              transition: all 500ms ease-in;
              box-shadow: 0 2px 34px rgba(97, 113, 154, 0.1);
            }
            .box{
              width:100%;
              display: flex;
              padding: 30px;
              background: #f8faff;
              .radius{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #ebf6ff;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 24px;
                  height: 24px;
                  vertical-align: middle;
                }
              }
              .list{
                margin-left: 40px;
                p{
                  font-size: 15px;
                  color: #474e5f;
                }
                .name{
                  font-size: 20px;
                  color: #2f3342;
                  padding-bottom: 14px;
                  font-weight: bold;
                }
              }
            }
          }
          .cen{
            padding: 40px 0;
            display: flex;
            justify-content: center;
            .img_box{
              img{
                height: 448px;
              }
            }
          }
        }
      }
      .module_wrap{
        background: #fff;
        position: relative;
        .posBox{
          //position: absolute;
          position: fixed;
          right: 0;
          bottom: 20%;
          z-index: 999;
          .boxActive:hover .text{
            width: 180px;
            transition:all 1s ease;
            margin: 0;
            border-left: 1px solid #fff;
            //display: block;
          }
          .boxActive{
            margin-top: 2px;
            overflow: hidden;
            float: right;
            clear: both;
            .box{
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              background: #b31e23;
              //margin-top: 2px;
              cursor: pointer;
              float: right;
              i{
                font-size: 20px;
                color: #fff;
              }
            }
            .text{
              //width: 180px;
              width: 0;
              line-height: 50px;
              text-align: center;
              padding: 0 20px;
              box-sizing: border-box;
              background: #b31e23;
              color: #fff;
              font-size: 18px;
              font-weight: bold;

              float: right;
              white-space: nowrap;
              margin-right: -40px;
            }
          }

        }
        .module{
          padding: 50px 120px;
          display: flex;
          flex-wrap: wrap;
          .box{
            width: 15%;
            height: auto;
            //background: #fff;
            margin: 5px;
            display: flex;
            justify-content: center;
            text-align: center;
            .boxRadius{
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
              img{
                width: 38px;
                height: 38px;
                vertical-align: middle;
              }
            }
            .name{
              font-size: 18px;
              color: #2f3342;
              font-weight: bold;
              margin-top: 20px;
            }
          }
        }
      }
      .back_wrap{
        .title{
          color: #fff;
        }
        .contBox{
          padding: 70px 120px;
          ul{
            display: flex;
            .lis:hover{
              transition: all 500ms ease-in;
              margin-top: -20px;
            }
            .lis{
              flex: 1;
              height: 420px;
              background: #fff;
              margin-right: 10px;
              padding-bottom: 10px;
              .imgTop{
                width: 100%;
                //height: 170px;
                img{
                  width: 100%;
                  height: 100%;
                  vertical-align: middle;
                }
              }
              .cont_text{
                padding: 0 20px;
                .title{
                  text-align: center;
                  font-size: 20px;
                  font-weight: bold;
                  color: #333;
                  padding: 10px 0;
                }
                .text{
                  color: #626775;
                  font-size: 14px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .ban_wrap{
        .banner_box{
          //padding: 50px 120px;
          display: flex;
          align-items: center;
          .icon_left,.icon_right{
            width: 30px;
            height: 30px;
            cursor: pointer;
            //margin-top: 200px;
            i{
              width: 100%;
              height: auto;
              img{
                width: 100%;
                height: auto;
              }
              font-size: 40px;
            }
          }
          .icon_left{
            margin-right: 20px;
          }
          .icon_right{
            margin-left: 10px;
          }
          .banner{
            width: 90%;
            margin: auto;
            .cont{
              display: flex;
              .box:hover .img,{
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0px 2px 34px 0px rgba(21, 54, 83, 0.1);
                display: none;
              }
              .box:hover .caseCont .divs{
                display: block;
              }
              .box{
                width: 33.3%;
                //height: 315px;
                background: #fff;
                margin-right: 10px;
                border: 1px solid #dbdbdb;
                .img{
                  width: 100%;
                  height: 165px;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .caseCont{
                  padding: 17px;
                  .imgs{
                    width: 152px;
                    height: 36px;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .textRow{
                    padding: 17px 0;
                  }
                  .text{
                    font-size: 14px;
                    color: #626775;
                    font-weight: bold;
                  }

                  .title_{
                    font-size: 20px;
                    font-weight: bold;
                    color: #474e5f;
                  }
                  .divs{
                    display: none;
                    .show{
                      padding: 20px 0;
                      border-bottom: 1px solid #dbdbdb;
                    }
                    .text{
                      font-size: 14px;
                      color: #626775;
                      font-weight: bold;
                    }
                    .signRed{
                      display: flex;
                      justify-content: space-between;
                      color: #b31e23;
                      font-size: 16px;
                      font-weight: bold;
                      padding: 17px 0;
                    }
                  }
                }
              }
            }

          }
        }
        .advertPlate{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px 60px 0 60px;
          .plate:hover{
            background: #fff;
            box-shadow: 0px 2px 14px 0px rgba(23, 71, 113, 0.1);
          }
          .plate{
            width: 206px;
            height: 100px;
            //background: #fff;
            //margin-right: 22px;
            margin-top: 20px;
            margin-right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid #e5e5e5;
            img{
              width: 100px;
              height: 90px;
            }
          }
          //.plate:nth-child(7),.plate:nth-child(14),.plate:nth-child(21){
          //  margin-right: 0;
          //}

        }
        .more{
          text-align: center;
          font-size: 14px;
          color: #b31e23;
          margin-top: 45px;
          cursor:pointer;
        }
      }
    }
  }
  .bottom_wrap{
    //padding: 50px 120px;
    padding: 50px 0;
    background: #fff;
    display: flex;
    justify-content:space-around;
    .item{
      .title{
        font-size: 20px;
        color: #474e5f;
        font-weight: bold;
      }
      .text:hover{
        color: #b31e23;
      }
      .text{
        font-size: 15px;
        color: #626775;
        font-weight: bold;
        margin-top: 10px;
        cursor:pointer;
      }
    }
    .qrCode{
      text-align: center;
      .imgs{
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background: #f5f5f5;
        font-size: 14px;
        color: #505050;
      }
      .text{
        color: #626775;
      }
    }
  }
  .footer{
    background: #f0f0f0;
    font-size: 12px;
    color: #8d8f93;
    padding: 20px 0;
    text-align: center;
  }
}