.wrap{
  .center{
    border-bottom: 1px solid #e5e5e5;
    .content{
      background: #fff;
      padding: 70px 113px;
      .case_wrap{
        .dividerWrap{
          display: flex;
          justify-content: center;
          .divider{
            display: flex;
            .l,.r{
              display: flex;
              align-items: center;
              .line{
                width: 200px;
                height: 2px;
                display: inline-block;
                background: #c7c6c6;
              }
              .dian{
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #c7c6c6;
                display: inline-block;
              }
            }
            .title{
              font-size: 36px;
              font-weight: bold;
              color:#333333;
              padding: 0 20px;
            }
          }
        }
        .customerWrap{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 30px 0;
          .box:hover .img,{
            display: none;
          }
          .box:hover .caseCont .divs{
            display: block;
          }
          .box{
            width: 29%;
            //height: 315px;
            background: #fff;
            //margin-right: 76px;
            margin-top: 50px;
            border: 1px solid #dbdbdb;
            box-shadow: 0px 2px 34px 0px rgba(21, 54, 83, 0.1);
            .img{
              width: 100%;
              //height: 165px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .caseCont{
              padding: 17px;
              .imgs{
                width: 152px;
                height: 36px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .textRow{
                padding: 17px 0;
              }
              .text{
                font-size: 14px;
                color: #626775;
                font-weight: bold;
              }

              .title_{
                font-size: 20px;
                font-weight: bold;
                color: #474e5f;
              }
              .divs{
                display: none;
                .show{
                  padding: 20px 0;
                  border-bottom: 1px solid #dbdbdb;
                }
                .text{
                  font-size: 14px;
                  color: #626775;
                  font-weight: bold;
                }
                .signRed{
                  display: flex;
                  justify-content: space-between;
                  color: #b31e23;
                  font-size: 16px;
                  font-weight: bold;
                  padding: 17px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}